
    <div class="card" *ngFor="let user of userProfile">
        <div class="card-title">
            <h5> {{user.heading}} </h5>
        </div>
        <div class="info">
            <p>
                {{user.description}}
            </p>
        </div>

        <ul *ngFor="let social of user.socialHandles" class="social-handles">
            <a href=""> {{social.facebook}} </a>
            <a href=""> {{social.linkedin}} </a>
            <a href=""> {{social.twitter}} </a>
        </ul>
    </div>
