.article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: inherit;

    .card {
        margin: 9px;
        width: 25rem;
        height: 25rem;
        // padding: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        transition: transform 0.2s;
        background: linear-gradient(to bottom,
                rgba(56, 33, 227, 0),
                rgba(0, 0, 0, 100)),
            url("../../../assets/imagee.jpg");
        

            .card-title{
                width: 100%;
            }

        .social-handles {
            display: flex;
            flex-direction: column;
            
        }


        a {
            text-decoration: none;
            color: whitesmoke;
            margin: 0;
            padding: 0px 1rem;
            font-size: 10px;
            line-height: 15px;
        }

        img {
            width: 100%;
            z-index: -90;
        }

        .info {
            width: 100%;
            font-size: 14px;
            line-height: 20px;

            p:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &:hover {
            // transform: scale(20%);
            transform: scale(1.05);
        }
    }
}
