/* Pen-specific styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div {
    height: 100%;
}

body {
    color: #fff;
    font-family: sans-serif;
}

article {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

/* Pattern styles */
div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 1rem;
}

.left-half {
    background: #4c3c2a;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    // bottom: 0;
    overflow: scroll;
}

.right-half {
    background: #202541;
    height: 100vh;
    overflow-y: scroll;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: inherit;

    .card {
        margin: 9px;
        width: 25rem;
        height: 25rem;
        // padding: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        transition: transform 0.2s;
        background: linear-gradient(to bottom,
                rgba(56, 33, 227, 0),
                rgba(0, 0, 0, 100)),
            url("../assets/imagee.jpg");
        

            .card-title{
                width: 100%;
            }

        .social-handles {
            display: flex;
            flex-direction: column;
            
        }


        a {
            text-decoration: none;
            color: whitesmoke;
            margin: 0;
            padding: 0px 1rem;
            font-size: 10px;
            line-height: 15px;
        }

        img {
            width: 100%;
            z-index: -90;
        }

        .info {
            width: 100%;
            font-size: 14px;
            line-height: 20px;

            p:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &:hover {
            // transform: scale(20%);
            transform: scale(1.05);
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(225, 221, 221);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #917777;
}