<!-- <h2> Founda - Found </h2> -->

<div class="right-half">
    <article>
        <h1> Founda-found </h1>
        <p> Profiling Africa most innovative, inspiring, <br> profound and impactful leaders. </p>
    </article>
</div>

<div class="left-half">
    <h5> Profile </h5>
    <div class="article">
        
        <div class="card"  *ngFor="let user of userProfile" style="background-position: center top; background:linear-gradient(to bottom, #06057800,  rgba(0, 0, 0, 100)), url('{{user.imageUrl}}')">
           <div class="card-title">
            <h5> {{user.heading}}  </h5>
           </div>
     
        
            <div class="info">
                <p>
                    {{user.description}}
                </p>
            </div>
                  
            <ul *ngFor="let social of user.socialHandles" class="social-handles">
                <a href=""> {{social.category}} </a>
                <a href=""> {{social.facebook}} </a>
                <a href=""> {{social.linkedin}} </a>
                <a href=""> {{social.twitter}} </a>
               
            </ul>


        </div>


 
    </div>
</div>
