<!-- <h2> Founda - Found </h2> -->
<div class="right-half">
    <article>
        <h1> Founda-found </h1>
        <p> Profiling Africa most innovative, inspiring and impact leaders. </p>
    </article>
</div>

<div class="left-half">
    <div class="article">

        <div class="card"  *ngFor="let user of userProfile">
            <h5> Title  </h5>
            <a href=""> Link </a>
            <a href=""> Social Handles </a>
            <a href=""> Website </a>

            <div>
                Info 
            </div>
        </div>
    </div>
</div>